#bubble {
  display: flex;
  background: #e1ebff;
  height: 45px;
  margin: 15px;
  border-radius: 10px;
  align-items: center;
  #j {
    height: 25px;
    margin: 0px 10px 0px 15px;
  }
  #t {
    height: 20px;
    color: #2E57E8;
    font-size: 16px;
    flex-grow: 1;
  }
  #c { height: 15px; margin-right: 15px;}
}
