h1 {font-size: 23px; font-weight: bold; margin-bottom: 5%; color: #2b1a0b; }
p {font-size: 17px; margin-bottom: 5%; color: #2b1a0b; }
li {font-size: 17px; color: #2b1a0b; }
a { text-decoration: underline; color: darkmagenta; }
ul { margin-bottom: 5%; }
strong { font-weight: bold; }
